@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

$font-family: "Roboto Slab", serif;

$font-regular: 400;
$font-bold: 700;
